@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#name {
  /* font-family: "Passions Conflict", cursive; */
  font-family: "Oleo Script Swash Caps", cursive;
}
#text {
  font-family: "Noto Serif", serif;
}

nav a.active {
  background-color: #f6ebeb;
  padding: 5px;
  border-radius: 2px;
  padding-right: 10px;
  padding-left: 10px;
}
#title {
  /* font-family: "Alegreya", serif; */
  font-family: "Noto Serif", serif;
}
#navlinks {
  font-family: "Sofia Sans", sans-serif;
}
#inputTxt {
  font-family: "Sofia Sans", sans-serif;
}
#container {
  padding: 80px;
}
#content {
  position: relative;
}
#screen {
  display: block;
  width: 100%;
  height: 800px;
  overflow: hidden;
  position: relative;
  border: 2px solid #000000;
  border-radius: 1px;
  margin: 0 auto;
}
#screen img {
  bottom: -960px;
  /* top: 20px; */
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 0;
  margin: 0;
  padding: 0;
  -webkit-transition: top 11s;
  -moz-transition: top 11s;
  -ms-transition: top 11s;
  -o-transition: top 11s;
  transition: bottom 11s;
}
#screen:hover img {
  bottom: 0;
  -webkit-transition: all 5s;
  -moz-transition: all 5s;
  -ms-transition: all 5s;
  -o-transition: all 5s;
  transition: all 5s;
}
#thumb {
  transition: 0.25s ease-in-out;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: all;
}
#main-title {
  font-family: "Sofia Sans", sans-serif;
}

ol {
  padding: 12px 24px;
  z-index: 2;
  position: fixed;

  left: 50%;
  transform: translateX(-50%);
  bottom: 4rem;
  display: flex;
  border: 2px solid black;
  gap: 2rem;
  border-radius: 3rem;
  backdrop-filter: blur(20px);
}

.moblinks {
  background-color: rgb(30, 41, 59);
  border-radius: 4px;
  opacity: 2;
  color: white;
  padding: 10px;
}
ol a.active {
  color: rgb(10, 10, 10);
  background-color: #03bdec;
}
button {
  height: 4em;
  width: 15em;
  border: none;
  border-radius: 40px;
  background-color: #fff;
}

button span {
  z-index: 1;
  display: inline-block;
  background-color: #6e07f3;
  height: 3em;
  width: 11.5em;
  border-radius: 5px;
  color: #fff;
  line-height: 55px;
  font-size: 18px;
  letter-spacing: 3px;
  transition: all 0.5s;
}

button .container {
  z-index: -1;
  width: 0;
  position: relative;
  display: flex;
  justify-content: center;
  transform: translateY(-50px);
  transition: all 0.4s;
}

button .container a {
  padding: 0 10px;
}

button:hover span {
  width: 0;
}

button:hover .container {
  z-index: 2;
  width: 100%;
}
