@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#name {
  font-family: "Passions Conflict", cursive;
}
#text {
  font-family: "Noto Serif", serif;
}
nav a.active {
  color: darkgreen;
  text-decoration: overline;
}
#title {
  /* font-family: "Alegreya", serif; */
  font-family: "Noto Serif", serif;
}
#navlinks {
  font-family: "Sofia Sans", sans-serif;
}
#inputTxt {
  font-family: "Sofia Sans", sans-serif;
}
#container {
  padding: 80px;
}
#content {
  position: relative;
}
#screen {
  display: block;
  width: 100%;
  height: 800px;
  overflow: hidden;
  position: relative;
  border: 2px solid #000000;
  border-radius: 1px;
  margin: 0 auto;
}
#screen img {
  bottom: -960px;
  /* top: 20px; */
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 0;
  margin: 0;
  padding: 0;
  -webkit-transition: top 11s;
  -moz-transition: top 11s;
  -ms-transition: top 11s;
  -o-transition: top 11s;
  transition: bottom 11s;
}
#screen:hover img {
  bottom: 0;
  -webkit-transition: all 5s;
  -moz-transition: all 5s;
  -ms-transition: all 5s;
  -o-transition: all 5s;
  transition: all 5s;
}
#thumb {
  transition: 0.25s ease-in-out;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: all;
}
#main-title {
  font-family: "Sofia Sans", sans-serif;
}
/* mobile navs  */
ol {
  /* background: rgba(0, 0, 0, 0.3); */
  /* width: max-content; */
  /* display: block; */
  padding: 12px 24px;
  z-index: 2;
  position: fixed;

  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
  display: flex;
  border: 2px solid black;
  gap: 2rem;
  border-radius: 3rem;
  backdrop-filter: blur(20px);
}

.moblinks {
  background-color: rgb(30, 41, 59);
  border-radius: 4px;
  opacity: 0.8;
  color: white;
  padding: 10px;
}
ol a.active {
  color: rgb(10, 10, 10);
  background-color: rgb(130, 159, 149);
}
